* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
}

/* SVG SECTION BEGINS */
.svg_construction {
    position: absolute;
    display: flex;
    height: 95%;
    width: 95%;

    z-index: -4;

    align-items: center;
    justify-content: center;

    filter: blur(3px) brightness(75%);
}

.svg_construction_content {
    max-width: 830px;
}

/* SVG SECTION ENDS */


/* HEADER SECTION BEGINS */
.header_club_info {
    position: relative;
    display: flex;
    justify-content: center;

    padding: 5px;
    margin-top: 20px;
}

.header_club_info_name {
    font-family: 'Press Start 2p', 'Inconsolata';
    font-size: 50px;
    text-align: center;
    color: rgb(0, 156, 218);
    text-shadow: 3px 3px 10px rgb(108, 75, 255);
}

/* HEADER SECTION ENDS */

/* MESSAGE SECTION BEGINS */
.msg_container {
    height: 400px;
    width: 100%;
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: column;

    margin-top: 50px;

    align-items: center;
    justify-content: center;
    text-align: center;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
}

.msg_container_construction {
    display: inline-block;
    font-family: 'Inconsolata';
    font-size: 40px;
    font-weight: bolder;
    color: #00ff1a;
}

.msg_container_shortmsg {
    display: inline-block;
    font-family: 'Inconsolata';
    font-size: 25px;
    color: #00ffff;
    margin-top: 0px;
}

.msg_container_form {
    display: block;
    width: 100%;
    max-width: 800px;
}

.msg_container_email {
    display: inline-block;
    width: 75%;
    height: 40px;

    background-color: #eee;

    border: 2px solid aqua;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-right: none;

    margin-top: 30px;
    padding: 5px;
    padding-left: 30px;

    font-family: 'Inconsolata';
    font-size: 18px;
}

.msg_container_email:focus {
    outline-width: 0;
}

.msg_container_submit {
    background-color: #1b1a1a;

    display: inline-block;
    height: 40px;
    width: 20%;

    border: 2px solid aqua;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-left: none;

    font-family: 'Inconsolata';
    font-size: 18px;
    font-weight: bolder;

    color: #eee;

    transform: translateX(-13px);
}

.msg_container_submit:hover {
    cursor: pointer;
}

.msg_container_submit:active {
    background-color: rgb(91, 121, 130);
}

/* MESSAGE SECTION ENDS */

/* FOOTER SECTION */
.footer_club_contact {
    position: absolute;
    display: block;

    width: 95%;

    bottom: 50px;
    text-shadow: 2px 2px 5px black;
    margin-left: 20px;

    text-align: center;
}

.footer_club_contact_text {
    color: #eee;
    font-family: 'Inconsolata';
    font-size: 20px;
}

.instapng,
.facebookpng {
    display: inline;
    padding-top: 20px;
    height: 75px;
}

.instapng {
    height: 70px;
}

/* FOOTER ENDS */

/* BACKGROUND SVG BEGINS*/
#wheel_largest {
    animation: gearRotate 5s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}

#wheel_larger {
    animation: gearRotate 4s reverse linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}

#wheel_large {
    animation: gearRotate 2s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes gearRotate {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#human_right {
    animation: human 1s ease-in-out alternate infinite;
    transform-origin: bottom;
    transform-box: fill-box;
}

#human_left {
    animation: human 1s ease-in-out alternate-reverse infinite;
    transform-origin: bottom;
    transform-box: fill-box;
}

@keyframes human {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(-2deg)
    }
}

#wrench {
    animation: wrenchanimation 1s ease-in-out alternate-reverse infinite;
    transform-origin: 5.5in;
    transform-box: fill-box;
}

@keyframes wrenchanimation {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(10deg);
    }
}

/* BACKGROUND SVG ENDS*/